@use 'elements' as *;

/* ========================================================================== */

/*   Page Meta */

/* ========================================================================== */
.page-meta {
  margin-top: 2em;
  color: $muted-text-color;
  font-family: $sans-serif;
  font-size: $type-size-6;
  text-shadow: 1px 1px 4px rgba(#000, 0.5);

  p {
    margin: 0;
  }

  a {
    color: inherit;
  }
}

.page-meta-title {
  margin-bottom: 10px;
  font-size: $type-size-6;
  text-transform: uppercase;
}

.page-meta-sep::before {
  content: '\2022';
  padding-inline: 0.5em;
}

/* =============================== Social Sharing ========================================================================== */

.page-share {
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px solid $border-color;

  @include breakpoint(max-width $small) {
    .btn span {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
  }
}

.page-share-title {
  margin-bottom: 10px;
  font-size: $type-size-6;
  text-transform: uppercase;
}

/* ========================================================================== */

/*   Page Body (Partial) */

/* ========================================================================== */
body {
  display: -webkit-box;
  display: flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  background-color: variables.$bodycolor;
  font-family: variables.$base-font;
  color: variables.$text-color;
}

page-lead {
  font-family: $global-font-family;
  font-size: $type-size-4;
}

.page-title {
  margin-top: 0;
  line-height: 1;

  a {
    color: $text-color;
    text-decoration: none;
  }
}

.page {
  @include breakpoint($large) {
    float: inline-end;
    width: calc(100% - #{$right-sidebar-width-narrow});
    padding-inline-end: $right-sidebar-width-narrow;
  }

  @include breakpoint($x-large) {
    width: calc(100% - #{$right-sidebar-width});
    padding-inline-end: $right-sidebar-width;
  }

  .page-inner-wrap {
    float: inline-start;
    margin-top: 1em;
    margin-inline: 0;
    width: 100%;
    clear: both;

    .page-content,
    .page-meta,
    .page-share {
      position: relative;
      float: inline-start;
      margin-inline: 0;
      width: 100%;
      clear: both;
    }
  }
}

/* ========================================================================== */

/*   Page  Layout */

/* ========================================================================== */
#main {
  @include clearfix;

  margin-inline: auto;
  padding-inline: 1em;
  animation: $intro-transition;
  max-width: 100%;
  animation-delay: 0.15s;

  @include breakpoint($x-large) {
    max-width: $max-width;
  }
}

/* ========================================================================== */

/*   Page  Hero */

/* ========================================================================== */

.page-hero {
  position: relative;
  margin-bottom: 2em;

  .page-title,
  .page-lead,
  .btn {
    color: #fff;
    text-shadow: 1px 1px 4px rgba(#000, 0.5);
  }

  animation: $intro-transition;
  animation-delay: 0.25s;

  &-overlay {
    position: relative;
    margin-bottom: 2em;
    padding: 3em 0;

    @include clearfix;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: $intro-transition;
    animation-delay: 0.25s;

    a {
      color: #fff;
    }

    .wrapper {
      padding-inline: 1em;

      @include breakpoint($x-large) {
        max-width: $x-large;
      }
    }

    .page-lead {
      max-width: $medium;
    }

    .page-title {
      font-size: $type-size-2;

      @include breakpoint($small) {
        font-size: $type-size-1;
      }
    }
  }
}

/* ========================================================================== */

/*  Related Content */

/* ========================================================================== */

.page-related {
  @include clearfix;

  float: inline-start;
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px solid $border-color;
  @include breakpoint($large) {
    float: inline-end;
    width: calc(100% - #{$right-sidebar-width-narrow});
  }
  @include breakpoint($x-large) {
    width: calc(100% - #{$right-sidebar-width});
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.page-related-title {
  margin-bottom: 10px;
  font-size: $type-size-6;
  text-transform: uppercase;
}

/* ========================================================================== */

/*  Wide Pages */

/* ========================================================================== */

.wide {
  .page,
  .page-related {
    @include breakpoint($large) {
      padding-inline-end: 0;
    }

    @include breakpoint($x-large) {
      padding-inline-end: 0;
    }
  }
}

/* ========================================================================== */

/* === Initial/Search === */

/* ============================================================================ */

.initial-content,
.search-content {
  flex: 1 0 auto;
}

/* Page taxonomy ========================================================================== */

.page-taxonomy {
  .sep {
    display: none;
  }

  strong {
    margin-inline-end: 10px;
  }
}

.page-taxonomy-item {
  display: inline-block;
  margin-inline-end: 5px;
  margin-bottom: 8px;
  padding: 5px 10px;
  text-decoration: none;
  border: 1px solid color.mix(#000, $border-color, 25%);
  border-radius: $border-radius;

  &:hover {
    text-decoration: none;
    color: $link-color-hover;
  }
}

.taxonomy-section {
  padding-bottom: 1em;

  &:not(:last-child) {
    border-bottom: solid 1px $border-color;
  }

  .archive-item-title {
    margin-top: 0;
  }

  .archive-subtitle {
    clear: both;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  + .taxonomy-section {
    margin-top: 2em;
  }
}

.taxonomy-title {
  margin-bottom: 0.5em;
  color: $muted-text-color;
}

.taxonomy-count {
  color: $muted-text-color;
}

.taxonomy-index {
  display: grid;
  grid-column-gap: 2em;
  grid-template-columns: repeat(2, 1fr);
  margin: 1.414em 0;
  padding: 0;
  font-size: 0.75em;
  list-style: none;

  @include breakpoint($large) {
    grid-template-columns: repeat(3, 1fr);
  }

  a {
    display: -webkit-box;
    display: flexbox;
    display: flex;
    padding: 0.25em 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid $border-color;
  }
}

.back-to-top {
  display: block;
  clear: both;
  color: $muted-text-color;
  font-size: 0.6em;
  text-transform: uppercase;
  text-align: end;
  text-decoration: none;
}

/* Comments ========================================================================== */

.page-comments {
  float: inline-start;
  margin-inline: 0;
  width: 100%;
  clear: both;
}

.page-comments-title {
  margin-top: 2rem;
  margin-bottom: 10px;
  padding-top: 2rem;
  font-size: $type-size-6;
  border-top: 1px solid $border-color;
  text-transform: uppercase;
}

.page-comments-form {
  transition: $global-transition;

  &.disabled {
    input,
    button,
    textarea,
    label {
      pointer-events: none;
      cursor: not-allowed;
      filter: alpha(opacity=65);
      box-shadow: none;
      opacity: 0.65;
    }
  }
}

.comment {
  @include clearfix;

  margin: 1em 0;

  &:not(:last-child) {
    border-bottom: 1px solid $border-color;
  }
}

.comment-avatar-wrapper {
  float: inline-start;
  width: 60px;
  height: 60px;

  @include breakpoint($large) {
    width: 100px;
    height: 100px;
  }
}

.comment-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  @include breakpoint($large) {
    width: 80px;
    height: 80px;
    padding: 5px;
    border: 1px solid $border-color;
  }
}

.comment-content-wrapper {
  float: inline-end;
  width: calc(100% - 60px);

  @include breakpoint($large) {
    width: calc(100% - 100px);
  }
}

.comment-author {
  margin: 0;

  a {
    text-decoration: none;
  }
}

.comment-date {
  @extend %page-meta;

  margin: 0;

  a {
    text-decoration: none;
  }
}

/* ========================================================================== */

/*  Page Content */

/* ========================================================================== */

.page-content {
  a {
    color: #fff;
    text-decoration: none;
  }

  h2 {
    padding-bottom: 0.5em;
    border-bottom: 1px solid $border-color;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    .header-link {
      position: relative;
      inset-inline-start: 0.5em;
      opacity: 0;
      font-size: 0.8em;
      transition: opacity 0.2s ease-in-out 0.1s;
    }

    &:hover .header-link {
      opacity: 1;
    }
  }

  p,
  li,
  dl {
    font-size: 1em;
  }

  /* paragraph indents */
  p {
    margin: 0 0 $indent-var;

    /* sibling indentation */
    @if $paragraph-indent == true {
      & + p {
        text-indent: $indent-var;
        margin-top: -($indent-var);
      }
    }
  }

  a:not(.btn) {
    &:hover {
      text-decoration: underline;

      img {
        box-shadow: 0 0 10px rgba(#000, 0.25);
      }
    }
  }

  :not(pre) > code {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    font-size: 0.8em;
    background: $code-background-color;
    border-radius: $border-radius;

    &::before,
    &::after {
      letter-spacing: -0.2em;
      content: '\00a0'; /* non-breaking space */
    }
  }

  dt {
    margin-top: 1em;
    font-family: $sans-serif;
    font-weight: bold;
  }

  dd {
    margin-inline-start: 1em;
    font-family: $sans-serif;
    font-size: $type-size-6;
  }

  .small {
    font-size: $type-size-6;
  }

  /* blockquote citations */
  blockquote + .small {
    margin-top: -1.5em;
    padding-inline-start: 1.25rem;
  }
}
