@import 'variables';
@import 'mixins';

/* ==========================================================================
   Site wide styles
   ========================================================================== */

/* 
   Selection
   ========================================================================== */

::selection { 
	background-color: adjust-color($basecolor, $lightness: 65%); 
	color: $basecolor; 
	text-shadow: none; 
}  	

::selection { 
	background-color: adjust-color($basecolor, $lightness: 65%); 
	color: $basecolor; 
	text-shadow: none; 
}

/* 
   Global classes
   ========================================================================== */

/* Capitalize */
.all-caps {
	text-transform: uppercase;
}

/* Float left */
.pull-left {
	float: left;
}

/* Float right */
.pull-right {
	float: right;
}

.image-pull-right {
	float: right;
	margin-top: 0;
}

/* Clearfix */
.clearfix {
	@include clearfix;
}

/* Remove bullets and indentation from list */
.unstyled-list {
	list-style: none;
	margin-left: 0;
	padding-left: 0;

	li {
		list-style-type: none;
	}
}

