/* ==========================================================================
   Sass variables
   ========================================================================== */

/*  Typography========================================================================== */

$doc-font-size: 16;
$doc-line-height: 26;
$paragraph-indent: true !default;
$base-font: 'PT Serif', serif;
$heading-font: 'PT Sans Narrow', sans-serif;
$code-font: monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
$alt-font: $base-font;

/* ==============Colors========================================================================== */

$basecolor      		: #343434;
$background-color		: #fff !default;
$black          		: #111;
$border-color   		: #7a8288;
$code-background-color		: #fafafa !default;
$danger-color			: #ee5f5b !default;
$dark-gray			: #4d5356 !default;
$darker-gray			: #404548 !default;
$form-background-color		: #f0f1f2 !default;
$gray				: #7a8288 !default;
$info-color			: #3b9cba !default;
$light-gray			: #b6bcc1 !default;
$lighter-gray			: #f0f1f2 !default;
$muted-text-color		: #4d5356 !default;
$primary-color			: #6f777d !default;
$success-color			: #3fa63f !default;
$text-color     		: #333332;
$warning-color			: #d67f05 !default;
$white          		: #fff;

/* Academic theme colors */
$academic-red: #8b2635;
$academic-red-dark: #6d1e2a;
$accent-blue: #3498db;
$accent-blue-dark: #2980b9;
$content-text: #2c3e50;

/* Consolidated grays and borders */
$border-light: #eee;
$gray-medium: #666;
$gray-darker: #555;
$gray-lighter: #999;
$bg-light: #f8f9fa;
$bg-lighter: #e9ecef;
$border-medium: #dee2e6;
$text-dark: #333;

/* YIQ color contrast */

$yiq-contrasted-dark-default: $dark-gray !default;
$yiq-contrasted-light-default: #fff !default;
$yiq-contrasted-threshold: 175 !default;
$yiq-debug: false !default;


/* =========================brands ============================ */
$facebook-color     	: #3b5998 !default;
$flickr-color       	: #ff0084;
$foursquare-color   	: #0cbadf;
$instagram-color    	: #4e433c;
$linkedin-color     	: #4875b4;
$pinterest-color    	: #cb2027;
$rss-color          	: #fa9b39;
$tumblr-color       	: #2c4762;
$twitter-color      	: #55acee;
$vimeo-color        	: #1ab7ea;
$youtube-color      	: #f33;
$behance-color	    	: #1769ff !default;
$bitbucket-color	: #205081 !default;
$bluesky-color		: #1083fe !default;
$dribbble-color		: #ea4c89 !default;
$flickr-color		: #ff0084 !default;
$foursquare-color	: #0072b1 !default;
$github-color		: #171516 !default;
$gitlab-color		: #e24329 !default;
$instagram-color	: #517fa4 !default;
$keybase-color		: #ef7639 !default;
$lastfm-color		: #d51007 !default;
$linkedin-color		: #007bb6 !default;
$mastodon-color		: #2b90d9 !default;
$pinterest-color	: #cb2027 !default;
$reddit-color		: #ff4500 !default;
$rss-color		: #fa9b39 !default;
$soundcloud-color	: #f30 !default;
$stackoverflow-color	: #fe7a15 !default;
$tumblr-color		: #32506d !default;
$twitter-color		: #55acee !default;
$x-color		: #0f1419 !default;
$vimeo-color		: #1ab7ea !default;
$vine-color		: #00bf8f !default;
$youtube-color		: #b00 !default;
$xing-color		: #006567 !default;

/* links */
$link-color       	: #343434;
$link-color-hover	: mix(#000, $link-color, 25%) !default;
$link-color-visited	: mix(#fff, $link-color, 15%) !default;

/* masthead links */
$masthead-link-color: $primary-color !default;
$masthead-link-color-hover: mix(#000, $primary-color, 25%) !default;
$navicon-link-color-hover: mix(#fff, $primary-color, 75%) !default;

/* notices */
$notice-background-mix: 80% !default;
$code-notice-background-mix: 90% !default;

/* syntax highlighting (base16) */

$base00: #263238 !default;
$base01: #2e3c43 !default;
$base02: #314549 !default;
$base03: #546e7a !default;
$base04: #b2ccd6 !default;
$base05: #eff !default;
$base06: #eff !default;
$base07: #fff !default;
$base08: #f07178 !default;
$base09: #f78c6c !default;
$base0a: #ffcb6b !default;
$base0b: #c3e88d !default;
$base0c: #89ddff !default;
$base0d: #82aaff !default;
$base0e: #c792ea !default;
$base0f: #ff5370 !default;


/* ================== Breakpoints ========================================================================== */

$micro            : 30em;
$small            : 37.5em;
$medium           : 48em;
$medium-wide	  : 900px !default;
$large            : 62em;
$x-large          : 86.375em;
$max-width	  : $x-large !default;

/*

   Grid

   ========================================================================== */
$right-sidebar-width-narrow: 200px !default;
$right-sidebar-width: 300px !default;
$right-sidebar-width-wide: 400px !default;

/*
   Other
   ========================================================================== */

$border-radius: 4px !default;
$box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125) !default; // Fixed for old Sass compatibility
$nav-height: 2em !default;
$nav-toggle-height: 2rem !default;
$navicon-width: 1.5rem !default;
$navicon-height: 0.25rem !default;
$global-transition: all 0.2s ease-in-out !default;
$intro-transition: intro 0.3s both !default;





