---
layout: default
---

{% include page-header.html %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="page-wrapper">
{% include sidebar.html %}

<div id="main">
  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      {% if page.title %}
        <h1 id="page-title" class="page-title">{{ page.title }}</h1>
      {% elsif page.url == "/" %}
        <h1 id="page-title" class="page-title">Recent Posts</h1>
      {% else %}
        <h1 id="page-title" class="page-title">{{ site.data.ui-text[site.locale].page_title | default: site.title }}</h1>
      {% endif %}
    {% endunless %}
    {{ content }}
  </div>
</div>
</div>
